.github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

footer {
    margin-top: 8px;
    /* display: flex; */
    align-items: center;
    line-height: 20px;
  }
  .footer-text{
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: blue;
  }