.github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

footer {
    margin-top: 8px;
    display: flex;
    align-items:center;
    justify-content:space-around;
    line-height: 20px;
  }
  .footer-text{
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: var(--text-color);
  }
  .copyright{
    /* display: flex; */
    justify-content: center;
  }

  .github-button{
    color:var(--white);
    background-color: var(--black);
    /* border: 1px solid var(--text-color); */
    border:none;
    border-radius:5px;
    margin-right: 10px;
    padding-left: 3px;
    padding-right:3px;
    box-shadow: 0px 0px 3px 3px #ccc;
  
  }
  .social{
    /* display: flex; */
    justify-content: end;
  }