.example-card {
    min-width: 350px;
    margin-bottom: 2px;
    border-radius: 10% !important;
    text-align: center;
    justify-content: center;
    background-color: var(--light-card);
    font-size: medium;
    color: var(--light-background);
    box-shadow: 0px 10px  10px 10px #0003 !important;
}