.example-card {
    min-width: 400px;
    margin-bottom: 8px;
    text-align: center;
    background-color: blue;
    font-size: medium;
    color: white;
    box-shadow: 0px 5px  5px -1px #0003 !important;
  }