/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  /* Light Theme */
  .light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
    --icon-color:#000;
    --card-background: #f5f5f5; /* Light gray background for cards */
    --card-color: #333333; /* Text color for cards in light theme */
    --header-background: #ffffff; /* Blue header background in light theme */
    --header-color: #000000; /* Text color for header in light theme */
  }
  
  /* Dark Theme */
  .dark-theme {
    --background-color: #333333;
    --text-color: #ffffff;
    --icon-color:#fff;
    --card-background: #444444; /* Dark gray background for cards */
    --card-color: #ffffff; /* Text color for cards in dark theme */
    --header-background: #1f2a38; /* Dark blue header background in dark theme */
    --header-color: #ffffff; /* Text color for header in dark theme */
  }
body {
  background-color: var(--background-color);
  color: var(--text-color);
}